if (<%= current_user.errors.length > 0%>){
	var errors = "";
	<%current_user.errors.each do |key, value|%>
	errors += "<li><label class='error' for='website_url' generated='true' style='display: block;'><strong><%= key.to_s.capitalize %></strong>&nbsp;<%= value %>.</label></li>"; 
	<%end%>
	jQuery("#errorContent").html(errors);	
	jQuery("#showErrors").click();
}else{
	jQuery("#first_name").val("<%=current_user.first_name%>");
	jQuery("#last_name").val("<%=current_user.last_name%>");
	jQuery("#nameLbl").html("<%=current_user.name%>");
	jQuery("#editNameBtn").click();
}
	
